.blackout {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;

    background-color: rebeccapurple;
    opacity: 100%;
    color: white;
    font-size: 50px;
    text-align: center;
    z-index: 5;
}

.blackout-container {
    margin-top: 10vh;
    height: 100%
}

.tournament-header {
    font-size: 72px;
}
.tournament-subheader {
    font-size: 18px;
}
.tournament-extra {
    color: gray;
}

.column-left {
    float: left;
    width: 47%;
}

.column-center {
    display: inline-block;
    width: 6%;
    line-height: 20vw;
}

.column-right {
    float: right;
    width: 47%;
}

.avatar {
    width: 20vw;
    height: 20vw;
    margin-bottom: 32px;
}

.big-avatar {
    width: 25vw;
    height: 25vw;
    margin-bottom: 32px;
}

.scorecard {
    margin-top: 3px;
    font-size: 40px;
    margin-bottom: 32px;
}

#team1, #team2, #versus, #winner {
    position: absolute;
    width: fit-content;    
    text-align: center;
    font-size: 80px;
    font-family: "Luminari";
    transform: translateX(-50%);
}

#team1 {
    top: 36%;
    left: 35%;
    font-weight: bold;
    transform: translateX(-1000px);
    animation: slide-in 0.6s forwards;
    -webkit-animation: slide-in 0.6s forwards;
}

#team2 {
    top: 54%;
    left: 65%;
    font-weight: bold;
    transform: translateX(1000px);
    animation: slide-in 0.6s forwards;
    -webkit-animation: slide-in 0.6s forwards;
}

#versus {
    top: 45%;
    left: 50%;
    color: orange;
}

#winner {
    top: 45%;
    left: 50%;
    font-weight: bold;
}

@keyframes slide-in {
    100% { transform: translateX(-50%); }
}